<html>
<head>
  <title>Shomen Server</title>
  <style>
    #head { margin: 0 auto; width: 1024px; }
    #main { margin: 0 auto; width: 1024px; }
    .api { border: 1px solid #ccc; padding: 8px; }
  </style>
</head>
<body>

<div id="head">
  <h1>Shomen Server</h1>
</div>

<div id="main">
  <% apis.each do |api| %>
    <div class="api">
      <a href="<%= api.link %>"><%= api.title %> <%= api.version %></a>
    </div>
  <% end %>
</div>
</body>
</html>

